<div class=" accordian  " data-state="true">
  <div class="accordian-title grid grid-cols-2 bg-opacity-5 rounded-sm cursor-pointer hover:opacity-50 border-t-2 border-black w-full  ">
    <p class=" uppercase  pointer-events-none w-full ">{{ title }}</p>
    <p class="w-full accordian-symbol">+</p>
  </div>

  <div class="accordian-content pl-0  ">
    <p class="">{{ content }}</p>
  </div>
</div>
