<div class="   w-full">
  <button
    form="add-to-cart-form"
    class=" atcbtn flex w-full h-el pl-4 pr-4 justify-center items-center bg-type-1 text-surface-1 hover:bg-opacity-80 hover:text-surface-1 rounded-sm  backdrop-blur-lg "
    type="submit"
    name="add"
    id="add-to-cart-button"
  >
    Add To Cart
  </button>
</div>
