{% comment %} takes collection  {% endcomment %}

<div class="md:p-4 p-2">
  <div class="md:block hidden">
    {% render 'hr' %}
  </div>

  <div class="md:un-hidden md:grid  hidden grid-cols-4  gap-4">
    <div class=" w-[80%] ">
      <h3 class=" text-serif ">{{ collection.title }}</h3>
    </div>

    <div class=" grid lg:grid-cols-3 md:grid-cols-2 md:col-span-3  col-span-2 gap-2 ">
      {% for product in collection.products %}
        {% render 'product-card' with { product: product, nofade: false } %}
      {% endfor %}
    </div>
  </div>

  <div class="md:hidden un-hidden grid grid-cols-4  gap-2">
    <div class=" grid md:grid-cols-2 md:col-span-4 grid-cols-1 col-span-4 gap-2 ">
      {% for product in collection.products %}
        {% render 'product-card' with { product: product, nofade: false } %}
      {% endfor %}
    </div>
  </div>
</div>
