<div class="js-footer flex flex-col gap-2  w-full  pt-40 ">
  <div class="links flex kingline gap-1   pt-[5px] border-t-[1px] border-stroke-1 ">
    <p class="mb-1 subheader-title ">Sub Pages</p>
    <div class="subpage-links">
      {%- for link in linklists.footer.links -%}
        <div class="text-link flex justify-center items-center  w-fit md:h-fit ">
          <p class=" select-none  ">
            <a
              class="   {%- if request.path == link.url -%}f opacity-50 hover:opacity-50 {%- endif -%}"
              href="{{ link.url }}"
            >
              {{- link.title -}}
            </a>
          </p>
        </div>
      {%- endfor -%}
    </div>
  </div>

  <div class="social info flex kingline gap-1  pt-[5px] border-t-[1px] border-stroke-1 ">
    <p class="mb-1 subheader-title ">Social</p>

    <div class="social-links">
      {%- for link in linklists.social.links -%}
        <div class="text-link flex   md:h-fit ">
          <p class=" select-none  ">
            <a
              class="  {%- if request.path == link.url -%}f opacity-50 hover:opacity-50 {%- endif -%}"
              href="{{ link.url }}"
              target="_blank"
            >
              {{- link.title -}}
            </a>
          </p>
        </div>
      {%- endfor -%}
    </div>
  </div>

  <div class="adress   kingline  flex gap-1  pt-[5px] border-t-[1px] border-stroke-1">
    <p class="mb-1 subheader-title ">Adress</p>
    <div class=" adress-info bottom h-fit w-fit">
      <h3>
        Khade Studio <br>
        167b Brick Lane <br>
        London E27EE
      </h3>
    </div>
  </div>
</div>

<div class=" copyright  md:flex-row md:flex  mt-20  ">
  <div class="  opacity-40  ">
    <h3>©Khade Studios 2024</h3>
  </div>
</div>
