<div class=" HEADER  h-fit z-50 fixed inset-x-0 top-0">
  <div class=" menu-link w-full flex justify-between  px-2 pb-0 z-50 ">
    <div class=" flex h-fit w-fit ">
      <h3 class=" hover:opacity-50 menu-btn cursor-pointer hightlight select-none w-[70px] h-fit  ">Menu</h3>
    </div>

    <div class="cart-btn cursor-pointer  w-fit rounded-full select-none">
      <p class="hover:opacity-50">
        Cart (
        <span data-ajax-cart-bind="item_count" class="header__cart-quantity">
          {{ cart.item_count }}
        </span>
        )
      </p>
    </div>

    {% render 'menu' %}
  </div>

  {% if template != 'product' %}
    <div class="absolute top-0 left-0  h-screen w-screen flex items-center justify-center pointer-events-none">
      <img src="{{ 'logo.png' | asset_url }}" height="200" width="300" alt="Logo" class="h-40 mix-blend-multiply z-10 ">
    </div>
  {% endif %}
</div>
