<div class=" HEADER  h-fit z-50 fixed inset-x-0 top-0 pointer-events-none ">
  <div class=" menu-link w-full flex items-center justify-between  px-2 md:h-16 h-14 pb-0 z-50 ">
    <div class=" flex gap-1 h-fit w-fit ">
      <h3 class=" hover:opacity-50 menu-btn cursor-pointer hightlight select-none  h-fit pointer-events-auto  ">
        Menu
      </h3>

      {%- for link in linklists.header.links -%}
        <div class="text-link flex justify-center items-center lg:h-full md:h-fit w-[40px] pointer-events-auto ">
          <h3 class=" select-none  ">
            <a
              class=" hover:opacity-50  {%- if request.path == link.url -%}f opacity-50 hover:opacity-50 {%- endif -%}"
              href="{{ link.url }}"
            >
              {{- link.title -}}
            </a>
          </h3>
        </div>
      {%- endfor -%}
    </div>

    <div class="cart-btn cursor-pointer  w-fit rounded-full select-none pointer-events-auto">
      <p class="hover:opacity-50">
        Cart (
        <span data-ajax-cart-bind="item_count" class="header__cart-quantity">
          {{ cart.item_count }}
        </span>
        )
      </p>
    </div>

    {% render 'menu' %}
  </div>
</div>
