{% comment %}  Title . Description  {% endcomment %}


<div class=' row-start-2 relative'>
             
                <h3 class=' inline-block  indent-40 h-fit ' >
                    <span class=' indent-0 caption  absolute w-fit left-0 '> {{title}} </span>
                    <span >
                        {{ description }}
                    </span>
                </h3>


        
</div>