<a class="cursor-pointer  pointer-events-auto" href="/">
  <svg id="Layer_5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 674.88 897.17" class="w-[28px] py-1  ">
    <defs>
      <style>
        .cls-1 {
          fill: none;
          stroke: #000000;

          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 9px;
        }
      </style>
    </defs>
    <line class="cls-1" x1="247.4" y1="403.73" x2="269.85" y2="426.17"/>
    <line class="cls-1" x1="247.4" y1="426.17" x2="269.85" y2="403.73"/>
    <line class="cls-1" x1="247.4" y1="426.17" x2="269.85" y2="448.62"/>
    <line class="cls-1" x1="247.4" y1="448.62" x2="269.85" y2="426.17"/>
    <line class="cls-1" x1="292.34" y1="403.73" x2="314.79" y2="426.17"/>
    <line class="cls-1" x1="292.34" y1="426.17" x2="314.79" y2="403.73"/>
    <line class="cls-1" x1="292.34" y1="426.17" x2="314.79" y2="448.62"/>
    <line class="cls-1" x1="292.34" y1="448.62" x2="314.79" y2="426.17"/>
    <line class="cls-1" x1="292.34" y1="358.62" x2="314.79" y2="381.06"/>
    <line class="cls-1" x1="292.34" y1="381.06" x2="314.79" y2="358.62"/>
    <line class="cls-1" x1="292.34" y1="381.06" x2="314.79" y2="403.51"/>
    <line class="cls-1" x1="292.34" y1="403.51" x2="314.79" y2="381.06"/>
    <line class="cls-1" x1="292.34" y1="448.5" x2="314.79" y2="470.94"/>
    <line class="cls-1" x1="292.34" y1="470.94" x2="314.79" y2="448.5"/>
    <line class="cls-1" x1="292.34" y1="313.88" x2="314.79" y2="336.32"/>
    <line class="cls-1" x1="292.34" y1="336.32" x2="314.79" y2="313.88"/>
    <line class="cls-1" x1="292.34" y1="246.33" x2="314.79" y2="268.77"/>
    <line class="cls-1" x1="292.34" y1="268.77" x2="314.79" y2="246.33"/>
    <line class="cls-1" x1="292.34" y1="336.21" x2="314.79" y2="358.65"/>
    <line class="cls-1" x1="292.34" y1="358.65" x2="314.79" y2="336.21"/>
    <line class="cls-1" x1="292.34" y1="179.11" x2="314.79" y2="201.55"/>
    <line class="cls-1" x1="292.34" y1="201.55" x2="314.79" y2="179.11"/>
    <line class="cls-1" x1="292.34" y1="201.55" x2="314.79" y2="224"/>
    <line class="cls-1" x1="292.34" y1="224" x2="314.79" y2="201.55"/>
    <line class="cls-1" x1="292.34" y1="134" x2="314.79" y2="156.45"/>
    <line class="cls-1" x1="292.34" y1="156.45" x2="314.79" y2="134"/>
    <line class="cls-1" x1="292.34" y1="223.88" x2="314.79" y2="246.33"/>
    <line class="cls-1" x1="292.34" y1="246.33" x2="314.79" y2="223.88"/>
    <line class="cls-1" x1="292.34" y1="66.82" x2="314.79" y2="89.26"/>
    <line class="cls-1" x1="292.34" y1="89.26" x2="314.79" y2="66.82"/>
    <line class="cls-1" x1="292.34" y1="89.26" x2="314.79" y2="111.7"/>
    <line class="cls-1" x1="292.34" y1="111.7" x2="314.79" y2="89.26"/>
    <line class="cls-1" x1="292.34" y1="44.15" x2="314.79" y2="66.6"/>
    <line class="cls-1" x1="292.34" y1="66.6" x2="314.79" y2="44.15"/>
    <line class="cls-1" x1="292.34" y1="111.59" x2="314.79" y2="134.03"/>
    <line class="cls-1" x1="292.34" y1="134.03" x2="314.79" y2="111.59"/>
    <line class="cls-1" x1="314.79" y1="403.73" x2="337.23" y2="426.17"/>
    <line class="cls-1" x1="314.79" y1="426.17" x2="337.23" y2="403.73"/>
    <line class="cls-1" x1="314.79" y1="426.17" x2="337.23" y2="448.62"/>
    <line class="cls-1" x1="314.79" y1="448.62" x2="337.23" y2="426.17"/>
    <line class="cls-1" x1="314.79" y1="358.62" x2="337.23" y2="381.06"/>
    <line class="cls-1" x1="314.79" y1="381.06" x2="337.23" y2="358.62"/>
    <line class="cls-1" x1="314.79" y1="381.06" x2="337.23" y2="403.51"/>
    <line class="cls-1" x1="314.79" y1="403.51" x2="337.23" y2="381.06"/>
    <line class="cls-1" x1="314.79" y1="313.88" x2="337.23" y2="336.32"/>
    <line class="cls-1" x1="314.79" y1="336.32" x2="337.23" y2="313.88"/>
    <line class="cls-1" x1="314.79" y1="268.77" x2="337.23" y2="291.21"/>
    <line class="cls-1" x1="314.79" y1="291.21" x2="337.23" y2="268.77"/>
    <line class="cls-1" x1="314.79" y1="336.21" x2="337.23" y2="358.65"/>
    <line class="cls-1" x1="314.79" y1="358.65" x2="337.23" y2="336.21"/>
    <line class="cls-1" x1="314.79" y1="179.11" x2="337.23" y2="201.55"/>
    <line class="cls-1" x1="314.79" y1="201.55" x2="337.23" y2="179.11"/>
    <line class="cls-1" x1="314.79" y1="201.55" x2="337.23" y2="224"/>
    <line class="cls-1" x1="314.79" y1="224" x2="337.23" y2="201.55"/>
    <line class="cls-1" x1="314.79" y1="156.45" x2="337.23" y2="178.89"/>
    <line class="cls-1" x1="314.79" y1="178.89" x2="337.23" y2="156.45"/>
    <line class="cls-1" x1="314.79" y1="66.82" x2="337.23" y2="89.26"/>
    <line class="cls-1" x1="314.79" y1="89.26" x2="337.23" y2="66.82"/>
    <line class="cls-1" x1="314.79" y1="89.26" x2="337.23" y2="111.7"/>
    <line class="cls-1" x1="314.79" y1="111.7" x2="337.23" y2="89.26"/>
    <line class="cls-1" x1="314.79" y1="111.59" x2="337.23" y2="134.03"/>
    <line class="cls-1" x1="314.79" y1="134.03" x2="337.23" y2="111.59"/>
    <line class="cls-1" x1="337.23" y1="403.73" x2="359.68" y2="426.17"/>
    <line class="cls-1" x1="337.23" y1="426.17" x2="359.68" y2="403.73"/>
    <line class="cls-1" x1="337.23" y1="358.62" x2="359.68" y2="381.06"/>
    <line class="cls-1" x1="337.23" y1="381.06" x2="359.68" y2="358.62"/>
    <line class="cls-1" x1="337.23" y1="381.06" x2="359.68" y2="403.51"/>
    <line class="cls-1" x1="337.23" y1="403.51" x2="359.68" y2="381.06"/>
    <line class="cls-1" x1="337.23" y1="291.43" x2="359.68" y2="313.88"/>
    <line class="cls-1" x1="337.23" y1="313.88" x2="359.68" y2="291.43"/>
    <line class="cls-1" x1="337.23" y1="268.77" x2="359.68" y2="291.21"/>
    <line class="cls-1" x1="337.23" y1="291.21" x2="359.68" y2="268.77"/>
    <line class="cls-1" x1="337.23" y1="179.11" x2="359.68" y2="201.55"/>
    <line class="cls-1" x1="337.23" y1="201.55" x2="359.68" y2="179.11"/>
    <line class="cls-1" x1="337.23" y1="134" x2="359.68" y2="156.45"/>
    <line class="cls-1" x1="337.23" y1="156.45" x2="359.68" y2="134"/>
    <line class="cls-1" x1="337.23" y1="89.26" x2="359.68" y2="111.7"/>
    <line class="cls-1" x1="337.23" y1="111.7" x2="359.68" y2="89.26"/>
    <line class="cls-1" x1="337.23" y1="111.59" x2="359.68" y2="134.03"/>
    <line class="cls-1" x1="337.23" y1="134.03" x2="359.68" y2="111.59"/>
    <line class="cls-1" x1="359.68" y1="358.62" x2="382.12" y2="381.06"/>
    <line class="cls-1" x1="359.68" y1="381.06" x2="382.12" y2="358.62"/>
    <line class="cls-1" x1="359.68" y1="381.06" x2="382.12" y2="403.51"/>
    <line class="cls-1" x1="359.68" y1="403.51" x2="382.12" y2="381.06"/>
    <line class="cls-1" x1="359.68" y1="291.43" x2="382.12" y2="313.88"/>
    <line class="cls-1" x1="359.68" y1="313.88" x2="382.12" y2="291.43"/>
    <line class="cls-1" x1="359.68" y1="246.33" x2="382.12" y2="268.77"/>
    <line class="cls-1" x1="359.68" y1="268.77" x2="382.12" y2="246.33"/>
    <line class="cls-1" x1="359.68" y1="268.77" x2="382.12" y2="291.21"/>
    <line class="cls-1" x1="359.68" y1="291.21" x2="382.12" y2="268.77"/>
    <line class="cls-1" x1="359.68" y1="336.21" x2="382.12" y2="358.65"/>
    <line class="cls-1" x1="359.68" y1="358.65" x2="382.12" y2="336.21"/>
    <line class="cls-1" x1="359.68" y1="179.11" x2="382.12" y2="201.55"/>
    <line class="cls-1" x1="359.68" y1="201.55" x2="382.12" y2="179.11"/>
    <line class="cls-1" x1="359.68" y1="201.55" x2="382.12" y2="224"/>
    <line class="cls-1" x1="359.68" y1="224" x2="382.12" y2="201.55"/>
    <line class="cls-1" x1="359.68" y1="134" x2="382.12" y2="156.45"/>
    <line class="cls-1" x1="359.68" y1="156.45" x2="382.12" y2="134"/>
    <line class="cls-1" x1="382.33" y1="358.62" x2="404.77" y2="381.06"/>
    <line class="cls-1" x1="382.33" y1="381.06" x2="404.77" y2="358.62"/>
    <line class="cls-1" x1="382.33" y1="381.06" x2="404.77" y2="403.51"/>
    <line class="cls-1" x1="382.33" y1="403.51" x2="404.77" y2="381.06"/>
    <line class="cls-1" x1="382.33" y1="291.43" x2="404.77" y2="313.88"/>
    <line class="cls-1" x1="382.33" y1="313.88" x2="404.77" y2="291.43"/>
    <line class="cls-1" x1="382.33" y1="246.33" x2="404.77" y2="268.77"/>
    <line class="cls-1" x1="382.33" y1="268.77" x2="404.77" y2="246.33"/>
    <line class="cls-1" x1="382.33" y1="268.77" x2="404.77" y2="291.21"/>
    <line class="cls-1" x1="382.33" y1="291.21" x2="404.77" y2="268.77"/>
    <line class="cls-1" x1="382.33" y1="336.21" x2="404.77" y2="358.65"/>
    <line class="cls-1" x1="382.33" y1="358.65" x2="404.77" y2="336.21"/>
    <line class="cls-1" x1="382.33" y1="179.11" x2="404.77" y2="201.55"/>
    <line class="cls-1" x1="382.33" y1="201.55" x2="404.77" y2="179.11"/>
    <line class="cls-1" x1="382.33" y1="201.55" x2="404.77" y2="224"/>
    <line class="cls-1" x1="382.33" y1="224" x2="404.77" y2="201.55"/>
    <line class="cls-1" x1="382.33" y1="156.45" x2="404.77" y2="178.89"/>
    <line class="cls-1" x1="382.33" y1="178.89" x2="404.77" y2="156.45"/>
    <line class="cls-1" x1="404.77" y1="403.73" x2="427.21" y2="426.17"/>
    <line class="cls-1" x1="404.77" y1="426.17" x2="427.21" y2="403.73"/>
    <line class="cls-1" x1="404.77" y1="268.77" x2="427.21" y2="291.21"/>
    <line class="cls-1" x1="404.77" y1="291.21" x2="427.21" y2="268.77"/>
    <line class="cls-1" x1="404.77" y1="134" x2="427.21" y2="156.45"/>
    <line class="cls-1" x1="404.77" y1="156.45" x2="427.21" y2="134"/>
    <line class="cls-1" x1="404.77" y1="223.88" x2="427.21" y2="246.33"/>
    <line class="cls-1" x1="404.77" y1="246.33" x2="427.21" y2="223.88"/>
    <line class="cls-1" x1="404.77" y1="111.59" x2="427.21" y2="134.03"/>
    <line class="cls-1" x1="404.77" y1="134.03" x2="427.21" y2="111.59"/>
    <line class="cls-1" x1="427.21" y1="403.73" x2="449.66" y2="426.17"/>
    <line class="cls-1" x1="427.21" y1="426.17" x2="449.66" y2="403.73"/>
    <line class="cls-1" x1="427.21" y1="426.17" x2="449.66" y2="448.62"/>
    <line class="cls-1" x1="427.21" y1="448.62" x2="449.66" y2="426.17"/>
    <line class="cls-1" x1="427.21" y1="358.62" x2="449.66" y2="381.06"/>
    <line class="cls-1" x1="427.21" y1="381.06" x2="449.66" y2="358.62"/>
    <line class="cls-1" x1="427.21" y1="381.06" x2="449.66" y2="403.51"/>
    <line class="cls-1" x1="427.21" y1="403.51" x2="449.66" y2="381.06"/>
    <line class="cls-1" x1="427.21" y1="246.33" x2="449.66" y2="268.77"/>
    <line class="cls-1" x1="427.21" y1="268.77" x2="449.66" y2="246.33"/>
    <line class="cls-1" x1="427.21" y1="179.11" x2="449.66" y2="201.55"/>
    <line class="cls-1" x1="427.21" y1="201.55" x2="449.66" y2="179.11"/>
    <line class="cls-1" x1="427.21" y1="134" x2="449.66" y2="156.45"/>
    <line class="cls-1" x1="427.21" y1="156.45" x2="449.66" y2="134"/>
    <line class="cls-1" x1="427.21" y1="156.45" x2="449.66" y2="178.89"/>
    <line class="cls-1" x1="427.21" y1="178.89" x2="449.66" y2="156.45"/>
    <line class="cls-1" x1="427.21" y1="89.26" x2="449.66" y2="111.7"/>
    <line class="cls-1" x1="427.21" y1="111.7" x2="449.66" y2="89.26"/>
    <line class="cls-1" x1="427.21" y1="111.59" x2="449.66" y2="134.03"/>
    <line class="cls-1" x1="427.21" y1="134.03" x2="449.66" y2="111.59"/>
    <line class="cls-1" x1="449.66" y1="403.73" x2="472.1" y2="426.17"/>
    <line class="cls-1" x1="449.66" y1="426.17" x2="472.1" y2="403.73"/>
    <line class="cls-1" x1="449.66" y1="426.17" x2="472.1" y2="448.62"/>
    <line class="cls-1" x1="449.66" y1="448.62" x2="472.1" y2="426.17"/>
    <line class="cls-1" x1="449.66" y1="381.06" x2="472.1" y2="403.51"/>
    <line class="cls-1" x1="449.66" y1="403.51" x2="472.1" y2="381.06"/>
    <line class="cls-1" x1="449.66" y1="448.5" x2="472.1" y2="470.94"/>
    <line class="cls-1" x1="449.66" y1="470.94" x2="472.1" y2="448.5"/>
    <line class="cls-1" x1="449.66" y1="291.43" x2="472.1" y2="313.88"/>
    <line class="cls-1" x1="449.66" y1="313.88" x2="472.1" y2="291.43"/>
    <line class="cls-1" x1="449.66" y1="313.88" x2="472.1" y2="336.32"/>
    <line class="cls-1" x1="449.66" y1="336.32" x2="472.1" y2="313.88"/>
    <line class="cls-1" x1="427.21" y1="313.95" x2="449.66" y2="336.39"/>
    <line class="cls-1" x1="427.21" y1="336.39" x2="449.66" y2="313.95"/>
    <line class="cls-1" x1="449.66" y1="246.33" x2="472.1" y2="268.77"/>
    <line class="cls-1" x1="449.66" y1="268.77" x2="472.1" y2="246.33"/>
    <line class="cls-1" x1="449.66" y1="268.77" x2="472.1" y2="291.21"/>
    <line class="cls-1" x1="449.66" y1="291.21" x2="472.1" y2="268.77"/>
    <line class="cls-1" x1="449.66" y1="179.11" x2="472.1" y2="201.55"/>
    <line class="cls-1" x1="449.66" y1="201.55" x2="472.1" y2="179.11"/>
    <line class="cls-1" x1="449.66" y1="134" x2="472.1" y2="156.45"/>
    <line class="cls-1" x1="449.66" y1="156.45" x2="472.1" y2="134"/>
    <line class="cls-1" x1="449.66" y1="156.45" x2="472.1" y2="178.89"/>
    <line class="cls-1" x1="449.66" y1="178.89" x2="472.1" y2="156.45"/>
    <line class="cls-1" x1="449.66" y1="223.88" x2="472.1" y2="246.33"/>
    <line class="cls-1" x1="449.66" y1="246.33" x2="472.1" y2="223.88"/>
    <line class="cls-1" x1="449.66" y1="66.82" x2="472.1" y2="89.26"/>
    <line class="cls-1" x1="449.66" y1="89.26" x2="472.1" y2="66.82"/>
    <line class="cls-1" x1="449.66" y1="89.26" x2="472.1" y2="111.7"/>
    <line class="cls-1" x1="449.66" y1="111.7" x2="472.1" y2="89.26"/>
    <line class="cls-1" x1="449.66" y1="111.59" x2="472.1" y2="134.03"/>
    <line class="cls-1" x1="449.66" y1="134.03" x2="472.1" y2="111.59"/>
    <line class="cls-1" x1="472.1" y1="403.73" x2="494.55" y2="426.17"/>
    <line class="cls-1" x1="472.1" y1="426.17" x2="494.55" y2="403.73"/>
    <line class="cls-1" x1="472.1" y1="426.17" x2="494.55" y2="448.62"/>
    <line class="cls-1" x1="472.1" y1="448.62" x2="494.55" y2="426.17"/>
    <line class="cls-1" x1="472.1" y1="358.62" x2="494.55" y2="381.06"/>
    <line class="cls-1" x1="472.1" y1="381.06" x2="494.55" y2="358.62"/>
    <line class="cls-1" x1="472.1" y1="381.06" x2="494.55" y2="403.51"/>
    <line class="cls-1" x1="472.1" y1="403.51" x2="494.55" y2="381.06"/>
    <line class="cls-1" x1="472.1" y1="448.5" x2="494.55" y2="470.94"/>
    <line class="cls-1" x1="472.1" y1="470.94" x2="494.55" y2="448.5"/>
    <line class="cls-1" x1="472.1" y1="313.88" x2="494.55" y2="336.32"/>
    <line class="cls-1" x1="472.1" y1="336.32" x2="494.55" y2="313.88"/>
    <line class="cls-1" x1="472.1" y1="268.77" x2="494.55" y2="291.21"/>
    <line class="cls-1" x1="472.1" y1="291.21" x2="494.55" y2="268.77"/>
    <line class="cls-1" x1="472.1" y1="336.21" x2="494.55" y2="358.65"/>
    <line class="cls-1" x1="472.1" y1="358.65" x2="494.55" y2="336.21"/>
    <line class="cls-1" x1="472.1" y1="201.55" x2="494.55" y2="224"/>
    <line class="cls-1" x1="472.1" y1="224" x2="494.55" y2="201.55"/>
    <line class="cls-1" x1="472.1" y1="134" x2="494.55" y2="156.45"/>
    <line class="cls-1" x1="472.1" y1="156.45" x2="494.55" y2="134"/>
    <line class="cls-1" x1="472.1" y1="156.45" x2="494.55" y2="178.89"/>
    <line class="cls-1" x1="472.1" y1="178.89" x2="494.55" y2="156.45"/>
    <line class="cls-1" x1="472.1" y1="66.82" x2="494.55" y2="89.26"/>
    <line class="cls-1" x1="472.1" y1="89.26" x2="494.55" y2="66.82"/>
    <line class="cls-1" x1="472.1" y1="89.26" x2="494.55" y2="111.7"/>
    <line class="cls-1" x1="472.1" y1="111.7" x2="494.55" y2="89.26"/>
    <line class="cls-1" x1="472.1" y1="44.15" x2="494.55" y2="66.6"/>
    <line class="cls-1" x1="472.1" y1="66.6" x2="494.55" y2="44.15"/>
    <line class="cls-1" x1="472.1" y1="111.59" x2="494.55" y2="134.03"/>
    <line class="cls-1" x1="472.1" y1="134.03" x2="494.55" y2="111.59"/>
    <line class="cls-1" x1="494.55" y1="403.73" x2="516.99" y2="426.17"/>
    <line class="cls-1" x1="494.55" y1="426.17" x2="516.99" y2="403.73"/>
    <line class="cls-1" x1="494.55" y1="426.17" x2="516.99" y2="448.62"/>
    <line class="cls-1" x1="494.55" y1="448.62" x2="516.99" y2="426.17"/>
    <line class="cls-1" x1="494.55" y1="358.62" x2="516.99" y2="381.06"/>
    <line class="cls-1" x1="494.55" y1="381.06" x2="516.99" y2="358.62"/>
    <line class="cls-1" x1="494.55" y1="448.5" x2="516.99" y2="470.94"/>
    <line class="cls-1" x1="494.55" y1="470.94" x2="516.99" y2="448.5"/>
    <line class="cls-1" x1="472.1" y1="471.06" x2="494.55" y2="493.5"/>
    <line class="cls-1" x1="472.1" y1="493.5" x2="494.55" y2="471.06"/>
    <line class="cls-1" x1="494.55" y1="471.06" x2="516.99" y2="493.5"/>
    <line class="cls-1" x1="494.55" y1="493.5" x2="516.99" y2="471.06"/>
    <line class="cls-1" x1="494.55" y1="313.88" x2="516.99" y2="336.32"/>
    <line class="cls-1" x1="494.55" y1="336.32" x2="516.99" y2="313.88"/>
    <line class="cls-1" x1="494.55" y1="246.33" x2="516.99" y2="268.77"/>
    <line class="cls-1" x1="494.55" y1="268.77" x2="516.99" y2="246.33"/>
    <line class="cls-1" x1="494.55" y1="268.77" x2="516.99" y2="291.21"/>
    <line class="cls-1" x1="494.55" y1="291.21" x2="516.99" y2="268.77"/>
    <line class="cls-1" x1="494.55" y1="336.21" x2="516.99" y2="358.65"/>
    <line class="cls-1" x1="494.55" y1="358.65" x2="516.99" y2="336.21"/>
    <line class="cls-1" x1="494.55" y1="201.55" x2="516.99" y2="224"/>
    <line class="cls-1" x1="494.55" y1="224" x2="516.99" y2="201.55"/>
    <line class="cls-1" x1="494.55" y1="134" x2="516.99" y2="156.45"/>
    <line class="cls-1" x1="494.55" y1="156.45" x2="516.99" y2="134"/>
    <line class="cls-1" x1="494.55" y1="156.45" x2="516.99" y2="178.89"/>
    <line class="cls-1" x1="494.55" y1="178.89" x2="516.99" y2="156.45"/>
    <line class="cls-1" x1="494.55" y1="223.88" x2="516.99" y2="246.33"/>
    <line class="cls-1" x1="494.55" y1="246.33" x2="516.99" y2="223.88"/>
    <line class="cls-1" x1="494.55" y1="89.26" x2="516.99" y2="111.7"/>
    <line class="cls-1" x1="494.55" y1="111.7" x2="516.99" y2="89.26"/>
    <line class="cls-1" x1="494.55" y1="111.59" x2="516.99" y2="134.03"/>
    <line class="cls-1" x1="494.55" y1="134.03" x2="516.99" y2="111.59"/>
    <line class="cls-1" x1="516.99" y1="358.62" x2="539.44" y2="381.06"/>
    <line class="cls-1" x1="516.99" y1="381.06" x2="539.44" y2="358.62"/>
    <line class="cls-1" x1="516.99" y1="381.06" x2="539.44" y2="403.51"/>
    <line class="cls-1" x1="516.99" y1="403.51" x2="539.44" y2="381.06"/>
    <line class="cls-1" x1="516.99" y1="313.88" x2="539.44" y2="336.32"/>
    <line class="cls-1" x1="516.99" y1="336.32" x2="539.44" y2="313.88"/>
    <line class="cls-1" x1="516.99" y1="246.33" x2="539.44" y2="268.77"/>
    <line class="cls-1" x1="516.99" y1="268.77" x2="539.44" y2="246.33"/>
    <line class="cls-1" x1="516.99" y1="268.77" x2="539.44" y2="291.21"/>
    <line class="cls-1" x1="516.99" y1="291.21" x2="539.44" y2="268.77"/>
    <line class="cls-1" x1="516.99" y1="336.21" x2="539.44" y2="358.65"/>
    <line class="cls-1" x1="516.99" y1="358.65" x2="539.44" y2="336.21"/>
    <line class="cls-1" x1="516.99" y1="201.55" x2="539.44" y2="224"/>
    <line class="cls-1" x1="516.99" y1="224" x2="539.44" y2="201.55"/>
    <line class="cls-1" x1="516.99" y1="223.88" x2="539.44" y2="246.33"/>
    <line class="cls-1" x1="516.99" y1="246.33" x2="539.44" y2="223.88"/>
    <line class="cls-1" x1="539.44" y1="358.62" x2="561.88" y2="381.06"/>
    <line class="cls-1" x1="539.44" y1="381.06" x2="561.88" y2="358.62"/>
    <line class="cls-1" x1="539.44" y1="381.06" x2="561.88" y2="403.51"/>
    <line class="cls-1" x1="539.44" y1="403.51" x2="561.88" y2="381.06"/>
    <line class="cls-1" x1="539.44" y1="313.88" x2="561.88" y2="336.32"/>
    <line class="cls-1" x1="539.44" y1="336.32" x2="561.88" y2="313.88"/>
    <line class="cls-1" x1="539.44" y1="246.33" x2="561.88" y2="268.77"/>
    <line class="cls-1" x1="539.44" y1="268.77" x2="561.88" y2="246.33"/>
    <line class="cls-1" x1="539.44" y1="336.21" x2="561.88" y2="358.65"/>
    <line class="cls-1" x1="539.44" y1="358.65" x2="561.88" y2="336.21"/>
    <line class="cls-1" x1="539.44" y1="201.55" x2="561.88" y2="224"/>
    <line class="cls-1" x1="539.44" y1="224" x2="561.88" y2="201.55"/>
    <line class="cls-1" x1="539.44" y1="223.88" x2="561.88" y2="246.33"/>
    <line class="cls-1" x1="539.44" y1="246.33" x2="561.88" y2="223.88"/>
    <line class="cls-1" x1="562.09" y1="358.62" x2="584.53" y2="381.06"/>
    <line class="cls-1" x1="562.09" y1="381.06" x2="584.53" y2="358.62"/>
    <line class="cls-1" x1="562.09" y1="381.06" x2="584.53" y2="403.51"/>
    <line class="cls-1" x1="562.09" y1="403.51" x2="584.53" y2="381.06"/>
    <line class="cls-1" x1="562.09" y1="336.21" x2="584.53" y2="358.65"/>
    <line class="cls-1" x1="562.09" y1="358.65" x2="584.53" y2="336.21"/>
    <line class="cls-1" x1="562.09" y1="179.11" x2="584.53" y2="201.55"/>
    <line class="cls-1" x1="562.09" y1="201.55" x2="584.53" y2="179.11"/>
    <line class="cls-1" x1="562.09" y1="201.55" x2="584.53" y2="224"/>
    <line class="cls-1" x1="562.09" y1="224" x2="584.53" y2="201.55"/>
    <line class="cls-1" x1="562.09" y1="223.88" x2="584.53" y2="246.33"/>
    <line class="cls-1" x1="562.09" y1="246.33" x2="584.53" y2="223.88"/>
    <line class="cls-1" x1="584.53" y1="358.62" x2="606.97" y2="381.06"/>
    <line class="cls-1" x1="584.53" y1="381.06" x2="606.97" y2="358.62"/>
    <line class="cls-1" x1="269.9" y1="358.62" x2="292.34" y2="381.06"/>
    <line class="cls-1" x1="269.9" y1="381.06" x2="292.34" y2="358.62"/>
    <line class="cls-1" x1="269.9" y1="268.77" x2="292.34" y2="291.21"/>
    <line class="cls-1" x1="269.9" y1="291.21" x2="292.34" y2="268.77"/>
    <line class="cls-1" x1="269.9" y1="336.21" x2="292.34" y2="358.65"/>
    <line class="cls-1" x1="269.9" y1="358.65" x2="292.34" y2="336.21"/>
    <line class="cls-1" x1="269.9" y1="201.55" x2="292.34" y2="224"/>
    <line class="cls-1" x1="269.9" y1="224" x2="292.34" y2="201.55"/>
    <line class="cls-1" x1="269.9" y1="134" x2="292.34" y2="156.45"/>
    <line class="cls-1" x1="269.9" y1="156.45" x2="292.34" y2="134"/>
    <line class="cls-1" x1="269.9" y1="156.45" x2="292.34" y2="178.89"/>
    <line class="cls-1" x1="269.9" y1="178.89" x2="292.34" y2="156.45"/>
    <line class="cls-1" x1="269.9" y1="223.88" x2="292.34" y2="246.33"/>
    <line class="cls-1" x1="269.9" y1="246.33" x2="292.34" y2="223.88"/>
    <line class="cls-1" x1="269.9" y1="89.26" x2="292.34" y2="111.7"/>
    <line class="cls-1" x1="269.9" y1="111.7" x2="292.34" y2="89.26"/>
    <line class="cls-1" x1="269.9" y1="111.59" x2="292.34" y2="134.03"/>
    <line class="cls-1" x1="269.9" y1="134.03" x2="292.34" y2="111.59"/>
    <line class="cls-1" x1="247.4" y1="291.56" x2="269.85" y2="314"/>
    <line class="cls-1" x1="247.4" y1="314" x2="269.85" y2="291.56"/>
    <line class="cls-1" x1="247.4" y1="179.23" x2="269.85" y2="201.68"/>
    <line class="cls-1" x1="247.4" y1="201.68" x2="269.85" y2="179.23"/>
    <line class="cls-1" x1="247.4" y1="201.68" x2="269.85" y2="224.12"/>
    <line class="cls-1" x1="247.4" y1="224.12" x2="269.85" y2="201.68"/>
    <line class="cls-1" x1="247.4" y1="224" x2="269.85" y2="246.45"/>
    <line class="cls-1" x1="247.4" y1="246.45" x2="269.85" y2="224"/>
    <line class="cls-1" x1="225.01" y1="291.56" x2="247.46" y2="314"/>
    <line class="cls-1" x1="225.01" y1="314" x2="247.46" y2="291.56"/>
    <line class="cls-1" x1="225.01" y1="314" x2="247.46" y2="336.45"/>
    <line class="cls-1" x1="225.01" y1="336.45" x2="247.46" y2="314"/>
    <line class="cls-1" x1="225.01" y1="268.89" x2="247.46" y2="291.34"/>
    <line class="cls-1" x1="225.01" y1="291.34" x2="247.46" y2="268.89"/>
    <line class="cls-1" x1="225.01" y1="336.33" x2="247.46" y2="358.77"/>
    <line class="cls-1" x1="225.01" y1="358.77" x2="247.46" y2="336.33"/>
    <line class="cls-1" x1="225.01" y1="179.23" x2="247.46" y2="201.68"/>
    <line class="cls-1" x1="225.01" y1="201.68" x2="247.46" y2="179.23"/>
    <line class="cls-1" x1="225.01" y1="201.68" x2="247.46" y2="224.12"/>
    <line class="cls-1" x1="225.01" y1="224.12" x2="247.46" y2="201.68"/>
    <line class="cls-1" x1="225.01" y1="156.57" x2="247.46" y2="179.01"/>
    <line class="cls-1" x1="225.01" y1="179.01" x2="247.46" y2="156.57"/>
    <line class="cls-1" x1="225.01" y1="224" x2="247.46" y2="246.45"/>
    <line class="cls-1" x1="225.01" y1="246.45" x2="247.46" y2="224"/>
    <line class="cls-1" x1="202.59" y1="358.91" x2="225.03" y2="381.35"/>
    <line class="cls-1" x1="202.59" y1="381.35" x2="225.03" y2="358.91"/>
    <line class="cls-1" x1="202.59" y1="291.72" x2="225.03" y2="314.17"/>
    <line class="cls-1" x1="202.59" y1="314.17" x2="225.03" y2="291.72"/>
    <line class="cls-1" x1="202.59" y1="314.17" x2="225.03" y2="336.61"/>
    <line class="cls-1" x1="202.59" y1="336.61" x2="225.03" y2="314.17"/>
    <line class="cls-1" x1="202.59" y1="336.5" x2="225.03" y2="358.94"/>
    <line class="cls-1" x1="202.59" y1="358.94" x2="225.03" y2="336.5"/>
    <line class="cls-1" x1="202.59" y1="179.4" x2="225.03" y2="201.84"/>
    <line class="cls-1" x1="202.59" y1="201.84" x2="225.03" y2="179.4"/>
    <line class="cls-1" x1="202.59" y1="201.84" x2="225.03" y2="224.29"/>
    <line class="cls-1" x1="202.59" y1="224.29" x2="225.03" y2="201.84"/>
    <line class="cls-1" x1="202.59" y1="134.29" x2="225.03" y2="156.74"/>
    <line class="cls-1" x1="202.59" y1="156.74" x2="225.03" y2="134.29"/>
    <line class="cls-1" x1="202.59" y1="156.74" x2="225.03" y2="179.18"/>
    <line class="cls-1" x1="202.59" y1="179.18" x2="225.03" y2="156.74"/>
    <line class="cls-1" x1="180.15" y1="358.91" x2="202.59" y2="381.35"/>
    <line class="cls-1" x1="180.15" y1="381.35" x2="202.59" y2="358.91"/>
    <line class="cls-1" x1="180.15" y1="291.72" x2="202.59" y2="314.17"/>
    <line class="cls-1" x1="180.15" y1="314.17" x2="202.59" y2="291.72"/>
    <line class="cls-1" x1="180.15" y1="314.17" x2="202.59" y2="336.61"/>
    <line class="cls-1" x1="180.15" y1="336.61" x2="202.59" y2="314.17"/>
    <line class="cls-1" x1="180.15" y1="246.62" x2="202.59" y2="269.06"/>
    <line class="cls-1" x1="180.15" y1="269.06" x2="202.59" y2="246.62"/>
    <line class="cls-1" x1="180.15" y1="269.06" x2="202.59" y2="291.51"/>
    <line class="cls-1" x1="180.15" y1="291.51" x2="202.59" y2="269.06"/>
    <line class="cls-1" x1="180.15" y1="336.5" x2="202.59" y2="358.94"/>
    <line class="cls-1" x1="180.15" y1="358.94" x2="202.59" y2="336.5"/>
    <line class="cls-1" x1="180.15" y1="179.4" x2="202.59" y2="201.84"/>
    <line class="cls-1" x1="180.15" y1="201.84" x2="202.59" y2="179.4"/>
    <line class="cls-1" x1="180.15" y1="201.84" x2="202.59" y2="224.29"/>
    <line class="cls-1" x1="180.15" y1="224.29" x2="202.59" y2="201.84"/>
    <line class="cls-1" x1="180.15" y1="134.29" x2="202.59" y2="156.74"/>
    <line class="cls-1" x1="180.15" y1="156.74" x2="202.59" y2="134.29"/>
    <line class="cls-1" x1="180.15" y1="156.74" x2="202.59" y2="179.18"/>
    <line class="cls-1" x1="180.15" y1="179.18" x2="202.59" y2="156.74"/>
    <line class="cls-1" x1="180.15" y1="111.88" x2="202.59" y2="134.32"/>
    <line class="cls-1" x1="180.15" y1="134.32" x2="202.59" y2="111.88"/>
    <line class="cls-1" x1="157.68" y1="358.91" x2="180.12" y2="381.35"/>
    <line class="cls-1" x1="157.68" y1="381.35" x2="180.12" y2="358.91"/>
    <line class="cls-1" x1="157.68" y1="291.72" x2="180.12" y2="314.17"/>
    <line class="cls-1" x1="157.68" y1="314.17" x2="180.12" y2="291.72"/>
    <line class="cls-1" x1="157.68" y1="314.17" x2="180.12" y2="336.61"/>
    <line class="cls-1" x1="157.68" y1="336.61" x2="180.12" y2="314.17"/>
    <line class="cls-1" x1="157.68" y1="246.62" x2="180.12" y2="269.06"/>
    <line class="cls-1" x1="157.68" y1="269.06" x2="180.12" y2="246.62"/>
    <line class="cls-1" x1="157.68" y1="269.06" x2="180.12" y2="291.51"/>
    <line class="cls-1" x1="157.68" y1="291.51" x2="180.12" y2="269.06"/>
    <line class="cls-1" x1="157.68" y1="336.5" x2="180.12" y2="358.94"/>
    <line class="cls-1" x1="157.68" y1="358.94" x2="180.12" y2="336.5"/>
    <line class="cls-1" x1="135.23" y1="358.91" x2="157.68" y2="381.35"/>
    <line class="cls-1" x1="135.23" y1="381.35" x2="157.68" y2="358.91"/>
    <line class="cls-1" x1="135.23" y1="381.27" x2="157.68" y2="403.71"/>
    <line class="cls-1" x1="135.23" y1="403.71" x2="157.68" y2="381.27"/>
    <line class="cls-1" x1="135.23" y1="291.72" x2="157.68" y2="314.17"/>
    <line class="cls-1" x1="135.23" y1="314.17" x2="157.68" y2="291.72"/>
    <line class="cls-1" x1="135.23" y1="314.17" x2="157.68" y2="336.61"/>
    <line class="cls-1" x1="135.23" y1="336.61" x2="157.68" y2="314.17"/>
    <line class="cls-1" x1="135.23" y1="336.5" x2="157.68" y2="358.94"/>
    <line class="cls-1" x1="135.23" y1="358.94" x2="157.68" y2="336.5"/>
    <line class="cls-1" x1="157.68" y1="179.4" x2="180.12" y2="201.84"/>
    <line class="cls-1" x1="157.68" y1="201.84" x2="180.12" y2="179.4"/>
    <line class="cls-1" x1="157.68" y1="134.29" x2="180.12" y2="156.74"/>
    <line class="cls-1" x1="157.68" y1="156.74" x2="180.12" y2="134.29"/>
    <line class="cls-1" x1="157.68" y1="156.74" x2="180.12" y2="179.18"/>
    <line class="cls-1" x1="157.68" y1="179.18" x2="180.12" y2="156.74"/>
    <line class="cls-1" x1="225.16" y1="448.5" x2="247.6" y2="470.94"/>
    <line class="cls-1" x1="225.16" y1="470.94" x2="247.6" y2="448.5"/>
    <line class="cls-1" x1="225.16" y1="470.94" x2="247.6" y2="493.39"/>
    <line class="cls-1" x1="225.16" y1="493.39" x2="247.6" y2="470.94"/>
    <line class="cls-1" x1="202.72" y1="470.94" x2="225.16" y2="493.39"/>
    <line class="cls-1" x1="202.72" y1="493.39" x2="225.16" y2="470.94"/>
    <line class="cls-1" x1="202.72" y1="493.39" x2="225.16" y2="515.83"/>
    <line class="cls-1" x1="202.72" y1="515.83" x2="225.16" y2="493.39"/>
    <line class="cls-1" x1="180.27" y1="515.83" x2="202.72" y2="538.28"/>
    <line class="cls-1" x1="180.27" y1="538.28" x2="202.72" y2="515.83"/>
    <line class="cls-1" x1="180.27" y1="538.28" x2="202.72" y2="560.72"/>
    <line class="cls-1" x1="180.27" y1="560.72" x2="202.72" y2="538.28"/>
    <line class="cls-1" x1="180.27" y1="560.72" x2="202.72" y2="583.16"/>
    <line class="cls-1" x1="180.27" y1="583.16" x2="202.72" y2="560.72"/>
    <line class="cls-1" x1="157.83" y1="560.72" x2="180.27" y2="583.16"/>
    <line class="cls-1" x1="157.83" y1="583.16" x2="180.27" y2="560.72"/>
    <line class="cls-1" x1="157.83" y1="583.16" x2="180.27" y2="605.61"/>
    <line class="cls-1" x1="157.83" y1="605.61" x2="180.27" y2="583.16"/>
    <line class="cls-1" x1="135.38" y1="605.61" x2="157.83" y2="628.05"/>
    <line class="cls-1" x1="135.38" y1="628.05" x2="157.83" y2="605.61"/>
    <line class="cls-1" x1="202.72" y1="605.61" x2="225.16" y2="628.05"/>
    <line class="cls-1" x1="202.72" y1="628.05" x2="225.16" y2="605.61"/>
    <line class="cls-1" x1="225.16" y1="605.61" x2="247.6" y2="628.05"/>
    <line class="cls-1" x1="225.16" y1="628.05" x2="247.6" y2="605.61"/>
    <line class="cls-1" x1="225.16" y1="583.16" x2="247.6" y2="605.61"/>
    <line class="cls-1" x1="225.16" y1="605.61" x2="247.6" y2="583.16"/>
    <line class="cls-1" x1="247.6" y1="560.72" x2="270.05" y2="583.16"/>
    <line class="cls-1" x1="247.6" y1="583.16" x2="270.05" y2="560.72"/>
    <line class="cls-1" x1="270.05" y1="538.28" x2="292.49" y2="560.72"/>
    <line class="cls-1" x1="270.05" y1="560.72" x2="292.49" y2="538.28"/>
    <line class="cls-1" x1="337.23" y1="538.28" x2="359.68" y2="560.72"/>
    <line class="cls-1" x1="337.23" y1="560.72" x2="359.68" y2="538.28"/>
    <line class="cls-1" x1="292.49" y1="515.83" x2="314.94" y2="538.28"/>
    <line class="cls-1" x1="292.49" y1="538.28" x2="314.94" y2="515.83"/>
    <line class="cls-1" x1="314.94" y1="515.83" x2="337.38" y2="538.28"/>
    <line class="cls-1" x1="314.94" y1="538.28" x2="337.38" y2="515.83"/>
    <line class="cls-1" x1="314.94" y1="560.72" x2="337.38" y2="583.16"/>
    <line class="cls-1" x1="314.94" y1="583.16" x2="337.38" y2="560.72"/>
    <line class="cls-1" x1="112.83" y1="628.16" x2="135.28" y2="650.6"/>
    <line class="cls-1" x1="112.83" y1="650.6" x2="135.28" y2="628.16"/>
    <line class="cls-1" x1="180.27" y1="628.16" x2="202.72" y2="650.6"/>
    <line class="cls-1" x1="180.27" y1="650.6" x2="202.72" y2="628.16"/>
    <line class="cls-1" x1="247.6" y1="628.16" x2="270.05" y2="650.6"/>
    <line class="cls-1" x1="247.6" y1="650.6" x2="270.05" y2="628.16"/>
    <line class="cls-1" x1="270.05" y1="628.16" x2="292.49" y2="650.6"/>
    <line class="cls-1" x1="270.05" y1="650.6" x2="292.49" y2="628.16"/>
    <line class="cls-1" x1="270.05" y1="650.74" x2="292.49" y2="673.18"/>
    <line class="cls-1" x1="270.05" y1="673.18" x2="292.49" y2="650.74"/>
    <line class="cls-1" x1="292.49" y1="650.74" x2="314.94" y2="673.18"/>
    <line class="cls-1" x1="292.49" y1="673.18" x2="314.94" y2="650.74"/>
    <line class="cls-1" x1="314.94" y1="673.18" x2="337.38" y2="695.62"/>
    <line class="cls-1" x1="314.94" y1="695.62" x2="337.38" y2="673.18"/>
    <line class="cls-1" x1="337.38" y1="673.18" x2="359.83" y2="695.62"/>
    <line class="cls-1" x1="337.38" y1="695.62" x2="359.83" y2="673.18"/>
    <line class="cls-1" x1="359.83" y1="673.18" x2="382.27" y2="695.62"/>
    <line class="cls-1" x1="359.83" y1="695.62" x2="382.27" y2="673.18"/>
    <line class="cls-1" x1="382.27" y1="673.18" x2="404.71" y2="695.62"/>
    <line class="cls-1" x1="382.27" y1="695.62" x2="404.71" y2="673.18"/>
    <line class="cls-1" x1="404.71" y1="673.18" x2="427.16" y2="695.62"/>
    <line class="cls-1" x1="404.71" y1="695.62" x2="427.16" y2="673.18"/>
    <line class="cls-1" x1="427.2" y1="650.69" x2="449.64" y2="673.14"/>
    <line class="cls-1" x1="427.2" y1="673.14" x2="449.64" y2="650.69"/>
    <line class="cls-1" x1="449.64" y1="650.69" x2="472.09" y2="673.14"/>
    <line class="cls-1" x1="449.64" y1="673.14" x2="472.09" y2="650.69"/>
    <line class="cls-1" x1="472.09" y1="628.25" x2="494.53" y2="650.69"/>
    <line class="cls-1" x1="472.09" y1="650.69" x2="494.53" y2="628.25"/>
    <line class="cls-1" x1="494.53" y1="605.8" x2="516.98" y2="628.25"/>
    <line class="cls-1" x1="494.53" y1="628.25" x2="516.98" y2="605.8"/>
    <line class="cls-1" x1="494.53" y1="583.36" x2="516.98" y2="605.8"/>
    <line class="cls-1" x1="494.53" y1="605.8" x2="516.98" y2="583.36"/>
    <line class="cls-1" x1="516.98" y1="583.36" x2="539.42" y2="605.8"/>
    <line class="cls-1" x1="516.98" y1="605.8" x2="539.42" y2="583.36"/>
    <line class="cls-1" x1="516.98" y1="560.91" x2="539.42" y2="583.36"/>
    <line class="cls-1" x1="516.98" y1="583.36" x2="539.42" y2="560.91"/>
    <line class="cls-1" x1="516.98" y1="538.16" x2="539.42" y2="560.6"/>
    <line class="cls-1" x1="516.98" y1="560.6" x2="539.42" y2="538.16"/>
    <line class="cls-1" x1="427.16" y1="538.16" x2="449.6" y2="560.6"/>
    <line class="cls-1" x1="427.16" y1="560.6" x2="449.6" y2="538.16"/>
    <line class="cls-1" x1="427.16" y1="560.72" x2="449.6" y2="583.16"/>
    <line class="cls-1" x1="427.16" y1="583.16" x2="449.6" y2="560.72"/>
    <line class="cls-1" x1="539.21" y1="515.93" x2="561.65" y2="538.37"/>
    <line class="cls-1" x1="539.21" y1="538.37" x2="561.65" y2="515.93"/>
    <line class="cls-1" x1="494.84" y1="515.93" x2="517.28" y2="538.38"/>
    <line class="cls-1" x1="494.84" y1="538.38" x2="517.28" y2="515.93"/>
    <line class="cls-1" x1="472.39" y1="515.93" x2="494.84" y2="538.38"/>
    <line class="cls-1" x1="472.39" y1="538.38" x2="494.84" y2="515.93"/>
    <line class="cls-1" x1="449.45" y1="515.93" x2="471.9" y2="538.38"/>
    <line class="cls-1" x1="449.45" y1="538.38" x2="471.9" y2="515.93"/>
    <line class="cls-1" x1="449.45" y1="583.06" x2="471.9" y2="605.51"/>
    <line class="cls-1" x1="449.45" y1="605.51" x2="471.9" y2="583.06"/>
    <line class="cls-1" x1="112.83" y1="650.6" x2="135.28" y2="673.05"/>
    <line class="cls-1" x1="112.83" y1="673.05" x2="135.28" y2="650.6"/>
    <line class="cls-1" x1="112.83" y1="673.05" x2="135.28" y2="695.49"/>
    <line class="cls-1" x1="112.83" y1="695.49" x2="135.28" y2="673.05"/>
    <line class="cls-1" x1="112.83" y1="695.49" x2="135.28" y2="717.94"/>
    <line class="cls-1" x1="112.83" y1="717.94" x2="135.28" y2="695.49"/>
    <line class="cls-1" x1="112.83" y1="807.61" x2="135.28" y2="830.05"/>
    <line class="cls-1" x1="112.83" y1="830.05" x2="135.28" y2="807.61"/>
    <line class="cls-1" x1="90.44" y1="695.44" x2="112.89" y2="717.88"/>
    <line class="cls-1" x1="90.44" y1="717.88" x2="112.89" y2="695.44"/>
    <line class="cls-1" x1="90.44" y1="717.83" x2="112.89" y2="740.27"/>
    <line class="cls-1" x1="90.44" y1="740.27" x2="112.89" y2="717.83"/>
    <line class="cls-1" x1="90.44" y1="740.3" x2="112.89" y2="762.75"/>
    <line class="cls-1" x1="90.44" y1="762.75" x2="112.89" y2="740.3"/>
    <line class="cls-1" x1="135.24" y1="740.3" x2="157.68" y2="762.75"/>
    <line class="cls-1" x1="135.24" y1="762.75" x2="157.68" y2="740.3"/>
    <line class="cls-1" x1="157.69" y1="717.85" x2="180.14" y2="740.29"/>
    <line class="cls-1" x1="157.69" y1="740.29" x2="180.14" y2="717.85"/>
    <line class="cls-1" x1="180.12" y1="717.85" x2="202.57" y2="740.29"/>
    <line class="cls-1" x1="180.12" y1="740.29" x2="202.57" y2="717.85"/>
    <line class="cls-1" x1="135.24" y1="830.05" x2="157.68" y2="852.5"/>
    <line class="cls-1" x1="135.24" y1="852.5" x2="157.68" y2="830.05"/>
    <line class="cls-1" x1="157.68" y1="830.05" x2="180.12" y2="852.5"/>
    <line class="cls-1" x1="157.68" y1="852.5" x2="180.12" y2="830.05"/>
    <line class="cls-1" x1="180.12" y1="807.61" x2="202.57" y2="830.05"/>
    <line class="cls-1" x1="180.12" y1="830.05" x2="202.57" y2="807.61"/>
    <line class="cls-1" x1="202.51" y1="785.22" x2="224.95" y2="807.67"/>
    <line class="cls-1" x1="202.51" y1="807.67" x2="224.95" y2="785.22"/>
    <line class="cls-1" x1="202.51" y1="762.72" x2="224.95" y2="785.16"/>
    <line class="cls-1" x1="202.51" y1="785.16" x2="224.95" y2="762.72"/>
    <line class="cls-1" x1="202.51" y1="740.3" x2="224.95" y2="762.75"/>
    <line class="cls-1" x1="202.51" y1="762.75" x2="224.95" y2="740.3"/>
    <line class="cls-1" x1="90.44" y1="762.69" x2="112.89" y2="785.14"/>
    <line class="cls-1" x1="90.44" y1="785.14" x2="112.89" y2="762.69"/>
    <line class="cls-1" x1="67.91" y1="740.3" x2="90.35" y2="762.75"/>
    <line class="cls-1" x1="67.91" y1="762.75" x2="90.35" y2="740.3"/>
    <line class="cls-1" x1="67.91" y1="762.69" x2="90.35" y2="785.14"/>
    <line class="cls-1" x1="67.91" y1="785.14" x2="90.35" y2="762.69"/>
    <line class="cls-1" x1="90.44" y1="785.28" x2="112.89" y2="807.72"/>
    <line class="cls-1" x1="90.44" y1="807.72" x2="112.89" y2="785.28"/>
  </svg>
</a>
