<div class="js-menu fixed top-0 right-0 left-0 bottom-0 z-40 transition-all    ">
  <div class="menu-card bg-surface-2 absolute  right-[100%]   top-0  bottom-0  w-[50vw]   pointer-events-auto  bg-full  ">
    <div class="menu-content transition-all h-[100%]   ">
      <div class="links transition-all   flex flex-col items-center justify-center gap-[10px]  h-full ">
        {%- for link in linklists['main-menu'].links -%}
          <div class="text-link flex justify-center items-center  md:h-fit ">
            <h1 class=" select-none  ">
              <a
                class=" hover:opacity-50  {%- if request.path == link.url -%}f opacity-50 hover:opacity-50 {%- endif -%}"
                href="{{ link.url }}"
              >
                {{- link.title -}}
              </a>
            </h1>
          </div>
        {%- endfor -%}
      </div>
    </div>

    {% section 'footer' %}
  </div>
</div>
