<div class="js-menu fixed top-0 right-0 left-0 bottom-0 z-40 transition-all    ">
  <div class="menu-card bg-surface-2 absolute  right-[100%]   top-0  bottom-0  w-[50vw]   pointer-events-auto  bg-full  ">
    <div class="line w-full h-[1px] absolute top-[50%] bg-stroke-1"></div>
    <div class="line h-full w-[1px] absolute left-[50%] bg-stroke-1"></div>

    <div class="menu-content transition-all h-[100%]   ">
      <div class="links transition-all  grid  gap-[1px] lg:grid-cols-2 md:grid-cols-1 h-full ">
        {%- for link in linklists['main-menu'].links -%}
          <div class="link-box flex justify-center items-center lg:h-full md:h-fit ">
            <h2 class=" select-none  ">
              <a
                class=" hover:opacity-50  {%- if request.path == link.url -%}f opacity-50 hover:opacity-50 {%- endif -%}"
                href="{{ link.url }}"
              >
                {{- link.title -}}
              </a>
            </h2>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
