<div class="preorder border-[1px]  border-black border-opacity-10 text-[11px] rounded-md bg-black bg-opacity-5 my-1 text-opacity-20">
  <div class="title border-b-[1px] p-[10px]  border-black border-opacity-10  pb-[5px]">
    <p>Pre-order</p>
  </div>
  <div class="p-[10px] ">
    <p class="pb-1">{{ content }}</p>
    <a class="text-link trans-link " href="/pages/about-pre-order"><p>Learn More</p></a>
  </div>
</div>
