<div class="preorder border-[1px] b  border-black border-opacity-5 text-[11px] rounded-md  bg-stone-500 bg-opacity-5 my-1 text-opacity-20">
  <div class="title border-b-[1px] p-1 pt-[5px] border-black border-opacity-5 pb-[5px]">
    <p>Pre-order</p>
  </div>
  <div class="p-1 ">
    <p class="pb-1">{{ content }}</p>
    <a class="text-link trans-link " href="/pages/about-pre-order"><p>Learn More</p></a>
  </div>
</div>
