<div class="product-swiper overflow-hidden    w-full  ">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper  w-full sm:p-0 p-1     ">
    <!-- Slides -->
    {% for image in product.images %}
      <div class="swiper-slide    ">
        <div class="  h-full w-full ">
          {{ image | image_url: width: 700 | image_tag: class: ' object-cover h-full' }}
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
  <!-- If we need navigation buttons -->

  {% comment %}
    <div class="">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  {% endcomment %}

  <!-- If we need scrollbar -->
</div>
