<div class="product-swiper md:hidden  pb-4  ">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper w-full ">
    <!-- Slides -->

    {% for image in product.images %}
      <div class="swiper-slide flex justify-center ">
        <div class="object-contain">
          <div class="  aspect-main  ">
            {{ image | image_url: width: 700 | image_tag: class: 'w-full h-fit' }}
            <p class="caption pl-2 pt-1 text-center  ">{{ forloop.index }} / {{ forloop.length }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
  <!-- If we need navigation buttons -->
  {% comment %}
    <div class='bg-red-500'>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
  {% endcomment %}
  <!-- If we need scrollbar -->
</div>
