<div class=" w-full h-[45vh] "></div>

{% schema %}
{
  "name": "Clear Space",
  "settings": [],

  "presets": [
    {
      "name": "Clear Space",
      "category": "Content"
    }
  ]
}
{% endschema %}
