<div class=" w-full h-[40vh] "></div>

{% schema %}
{
  "name": "Portrait Image Block",
  "settings": [],

  "presets": [
    {
      "name": "Clear Space",
      "category": "Content"
    }
  ]
}
{% endschema %}
