
      <div class=" js-section flex flex-col justify-center gap-10 pt-10 pb-40 items-center  ">
   
            <div class='md:w-[30%] w-[90%]  aspect-main '>
            
              {{ section.settings.image | image_url: width: 1204 | image_tag: class:'w-full js-fade' }}
              
            </div>
            <div class=' md:w-[80%]  w-[90%]  '>
              <h1 class=' heading-sans  md:text-5xl text-3xl text-center leading-none  '>
                {{ section.settings.body}}
              </h1>
            </div>
        
    
      </div>

   

 


{% schema %}

  {
    "name": "Centerd Image & Text",
    "settings": [
      {
        "type": "image_picker",
        "id": "image", 
        "label": "Image One"
      },
      {
        "type": "text",
        "id": "body",
        "label": "Body Text"
      }
    ],

    "presets": [
      {
        "name": "Centerd Image & Text ",
        "category": "Content"
      }
    ]
  }
{% endschema %}