<div class="js-footer flex flex-col items-center p-2 pt-40 ">
  <div class="flex l md:gap-2 w-full gap-2 ">
    <div class="adress  ">
      <p class="mb-1">Info</p>
      <div class=" adress-info bottom h-fit w-fit">
        <h3>
          Khade Studio <br>
          167b Brick Lane <br>
          London <br>
          E27EE
        </h3>

        <div class=" copyright  md:flex-row md:flex  md:w-[350px]  ">
          <div class="   ">
            <h3>©Khade Studios 2024</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="links">
      <p class="mb-1">Pages</p>
      {%- for link in linklists.footer.links -%}
        <div class="text-link flex justify-center items-center  md:h-fit ">
          <p class=" select-none  ">
            <a
              class=" hover:opacity-50  {%- if request.path == link.url -%}f opacity-50 hover:opacity-50 {%- endif -%}"
              href="{{ link.url }}"
            >
              {{- link.title -}}
            </a>
          </p>
        </div>
      {%- endfor -%}
    </div>
    <div class="social info ">
      <p class="mb-1">Social</p>
      {%- for link in linklists.social.links -%}
        <div class="text-link flex   md:h-fit ">
          <p class=" select-none  ">
            <a
              class=" hover:opacity-50  {%- if request.path == link.url -%}f opacity-50 hover:opacity-50 {%- endif -%}"
              href="{{ link.url }}"
              target="_blank"
            >
              {{- link.title -}}
            </a>
          </p>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
