<div class="js-footer flex flex-col items-center p-2 pt-40 ">
  <div class="flex l md:gap-2 w-full gap-2 ">
    <div class="adress  ">
      <div class=" adress-info bottom h-fit w-fit">
        <h3>
          Khade Studio <br>
          167b Brick Lane <br>
          London <br>
          E27EE
        </h3>

        <div class=" copyright  md:flex-row md:flex  md:w-[350px]  ">
          <div class="   ">
            <h3>©Khade Studios 2024</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="info ">
      <div class=" flex gap-2  flex-col  ">
        <div class=" social-links bottom h-fit w-full">
          <h3><a href=""> Instagram </a></h3>
          <h3>Twitter</h3>
          <h3>Spoitfy</h3>
        </div>
      </div>
    </div>
  </div>
</div>
