<div class="js-footer flex flex-col items-center ">
  <div class="logo-wrap md:p-4 p-2 w-full">
    <div class="logo w-full ">
      {% render 'footer-logo' %}
    </div>
  </div>

  <div
    class="  flex flex-col justify-end items-end  relative z-10   w-full transition-all md:p-4 p-2 overflow-hidden h-fit  "
    {% comment %} style="background:{{ settings.footer-background }};" {% endcomment %}
  >
    <div class="flex flex-col md:flex-row md:gap-4 w-full justify-between gap-2 ">
      <div class="adress  ">
        <div class=" adress-info bottom h-fit w-full">
          <h3>
            Joy Objects AB, Krukmakargatan <br>
            44, 117 26 Stockholm, Sweden
          </h3>

          <div class=" copyright  md:flex-row md:flex w-full  md:w-[350px] justify-between ">
            <div class="w-full   ">
              <h3>©JOY Objects 2024</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="info w-1/2">
        <div class=" flex gap-2  md:flex-row  flex-col  ">
          <div class=" main-links w-full text-md menu-link font-sans    items-end gap-2">
            {% for link in linklists.footer.links %}
              <h3 class="">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </h3>
            {% endfor %}
          </div>

          <div class="w-full">{% render 'newsletter' %}</div>

          <div class=" social-links bottom h-fit w-full">
            <h3><a href=""> Instagram </a></h3>
            <h3>Twitter</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
