<div
  style="background:{{section.settings.color}}"
  class=" js-section relative  md:h-screen h-fit bg-opacity-50  "
>
  <div class="w-full h-full overflow-hidden md:p-4 md:pr-4  p-2">
    {{ section.settings.image | image_url: width: 1204 | image_tag: class: ' object-cover w-full h-full js-fade' }}
  </div>
</div>

{% schema %}
{
  "name": "Full Width Image Block",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image One"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Colour"
    }
  ],

  "presets": [
    {
      "name": "Full Width Image Block",
      "category": "Content"
    }
  ]
}
{% endschema %}
