<div class="md:h-[90vh] w-full aspect-square sticky top-0 overflow-hidden ">
  {{ section.settings.image1 | image_url: width: 1200 | image_tag: class: ' w-full h-full object-center object-cover' }}
</div>

{% schema %}
{
  "name": "Hero Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image"
    }
  ],

  "presets": [
    {
      "name": " Hero Image",
      "category": "Content"
    }
  ]
}
{% endschema %}
