0
  

  

      <div class=" w-screen h-fit sticky top-0">

        <div class='w-full h-full  object-cover '>
          
        
          {{ product.featured_image | image_url: width: 1200 | image_tag }}
      
        </div>

      </div>

   




{% schema %}

  {
    "name": "Hero Video",
    "settings": [
      {
        "type": "video",
        "id": "video1",
        "label": "Video"
      }
    ],

    "presets": [
      {
        "name": " Hero Video",
        "category": "Content"
      }
    ]
  }
{% endschema %}