<div class="flex flex-col h-fit ">
  <div class="flex flex-col pt-40 pb-40  p-2">
    <div class=" flex md:flex-row flex-col  gap-1  relative  ">
      <div class="   md:sticky md:top-0   ">
        <div class="md:border-t-[1px] md:border-stroke-1 pt-[5px]  subheader-title ">
          <p>{{ section.settings.subtitle }}</p>
        </div>
      </div>
      <div class=" md:w-[350px]  pt-40 md:pt-0  ">
        <div class=" full ">
          <h2 class=" border-t-[1px] border-stroke-1 pt-1 w-full pb-1 ">{{ section.settings.title }}</h2>
          <p class="">{{ section.settings.body }}</p>
        </div>
      </div>
    </div>
  </div>

  {{ section.settings.image | image_url: width: 1204 | image_tag: class: ' w-full h-[80vh] object-cover ' }}
</div>

{% schema %}
{
  "name": " Image & Text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image One"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub Title"
    },
    {
      "type": "text",
      "id": "body",
      "label": "Body Text"
    }
  ],

  "presets": [
    {
      "name": "Image & Text ",
      "category": "Content"
    }
  ]
}
{% endschema %}
