<div class=" js-section flex  justify-center gap-10 pt-10 pb-40 items-center  ">
  <div class="md:w-[30%] w-[90%]  aspect-main ">
    {{ section.settings.image | image_url: width: 1204 | image_tag: class: 'w-full js-fade' }}
  </div>
  <div class=" md:w-[80%]  w-[90%]  "></div>
  <h1 class="   ">
    {{ section.settings.title }}
  </h1>
</div>
<div class=" md:w-[80%]  w-[90%]  ">
  <p class="   ">
    {{ section.settings.body }}
  </p>
</div>

{% schema %}
{
  "name": " Image & Text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image One"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "body",
      "label": "Body Text"
    }
  ],

  "presets": [
    {
      "name": "Image & Text ",
      "category": "Content"
    }
  ]
}
{% endschema %}
