<div
  style="background:{{section.settings.color}}"
  class=" js-section grid md:h-screen h-fit bg-opacity-50 md:grid-cols-2 grid-cols-1 md:gap-2 "
>
  <div class="w-full md:row-start-1  row-start-2  ">
    <div class="h-full md:p-4 md:pt-2 p-2   pt-0 ">
      <div class="h-fit pb-2">
        <h1 class="  md:w-[80%] w-full  uppercase    ">{{ section.settings.title }}</h1>
      </div>
      <h3 class="md:w-[350px]   ">
        {{ section.settings.body }}
      </h3>

      {% if section.settings.product_1 != '' %}
        <div class="pt-2">
          {% render 'button' with {text: section.settings.cta , link: section.settings.product_1.url, style:'blank' %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="w-full h-full overflow-hidden md:p-[0px] md:pr-4  p-2">
    {{ section.settings.image | image_url: width: 1204 | image_tag: class: ' object-cover  js-fade' }}
  </div>
</div>

{% schema %}
{
  "name": "Image & Text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image One"
    },

    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "body",
      "label": "Body Text"
    },
    {
      "type": "product",
      "id": "product_1",
      "label": "Product"
    },
    {
      "type": "text",
      "id": "cta",
      "label": "Call To Action"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Colour"
    }
  ],

  "presets": [
    {
      "name": "Image & Text ",
      "category": "Content"
    }
  ]
}
{% endschema %}
