<div class="js-cart-bg  bg-opacity-25 fixed top-0 right-0 left-0 bottom-0 pointer-events-none  z-50 "></div>
<div class="cart-wrap   p-2 pt-0 z-[2000] text-surface-1 w-full h-full md:flex-row flex-col flex gap-1">
  <div class="header flex">
    <div class="subheader-title md:border-t-[1px] pt-[5px] ">
      <p class="text-link ">
        Cart (<span data-ajax-cart-bind="item_count" class="header__cart-quantity">{{ cart.item_count }}</span>)
      </p>
    </div>

    <div class="  MBCLOSE w-full  md:hidden  flex justify-end h-fit   ">
      <p class="cart-btn text-link  pt-[5px]">Close</p>
    </div>
  </div>

  <div class="my-cart h-full " data-ajax-cart-section>
    <div
      class="my-cart__items md:w-[350px] w-full md:h-fit h-full  flex flex-col justify-between md:justify-normal "
      data-ajax-cart-section-scroll
    >
      <!-- Loop through cart items -->

      <div class="items h-full  ">
        {% if cart.item_count > 0 %}
          {% for line_item in cart.items %}
            {% assign line_item_index = forloop.index %}
            {% render 'cart-card' with { product: line_item , index: line_item_index } %}
          {% endfor %}

          <div class=" cart-footer flex gap-2 justify-center align-middle absolute left-0 right-0 bottom-2    "></div>
          {% form 'cart', cart, id: 'my-ajax-cart-form' %}
            <button
              class=" px-20 flex w-full h-el justify-center items-center bg-btn-1 hover:bg-btn-2 text-surface-1   rounded-sm  backdrop-blur-lg "
              type="submit"
              name="checkout"
            >
              <h3>Checkout — {{ cart.total_price | money_with_currency }}</h3>
            </button>
          {% endform %}
        {% else %}
          <p class=" md:w-[350px] w-full border-t-[1px] border-surface-1 pt-[5px]">Your cart is empty.</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="  DTCLOSE w-full  md:flex  hidden justify-end h-fit     ">
    <p class="cart-btn text-link border-t-[1px] border-surface-1 pt-[5px]">Close</p>
  </div>
</div>

{% schema %} { "name": "My Ajax cart" } {% endschema %}
