<div class="PRODUCT GALLERY">
  {% if collection.all_products_count > 0 %}
    <div class=" p-2 flex flex-col md:flex-row gap-1">
      <div class="md:sticky md:top-2 pt-40 title h-fit subheader-title  ">
        <p class="pt-[5px] md:border-t-[1px] md:border-stroke-1 w-full pb-2">
          {{ collection.title }}
        </p>
        <p class="opacity-50">Key</p>
        <div class="flex items-center gap-1">
          <p>Pre-Order :</p>
          {% render 'preorder-sym' %}
        </div>
        {% comment %}
          <div class="flex items-center  gap-1">
            <p>Low Stock :</p>
            {% render 'lowstock-sym' %}
          </div>
        {% endcomment %}
      </div>

      <div class="md:pt-40 pt-40 ">
        <div class="  grid  grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-1   pt-[9px] border-t-[1px] border-stroke-1">
          {% for product in collection.products %}
            {% render 'product-card'  with {product: product,nofade: false } %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% else -%}
    <div class="flex align-center bg-stone-50 h-8 justify-center pt-20 pb-20  ">
      <p>Come Back Soon :)</p>
    </div>
  {% endif %}
</div>
