<div
  class="
    md:flex-row md:gap-1
    flex-col flex p-2
  "
>
  <div
    class="
      mt-40
      title
      md:border-t-[1px] md:border-stroke-1 pt-[5px] subheader-title
    "
  >
    <p class="pt-[5px]">{{ article.title }}</p>
    <p>{{ article.published_at | date: '%d %B %Y' }}</p>
  </div>

  <div class="content w-[350px]">
    {{ article.content }}
  </div>
</div>
