{% render 'page-header' with { title: blog.title } %}

<div class="grid sm:grid-cols-3 grid-cols-1 gap-2 p-4">
  {% for article in blog.articles %}
    {% render 'blog-card'with {article:article} %}
  {% endfor %}
</div>
