<div class="about min-h-screen">
  {% render 'safe-space' %}

  <div class="md:p-4 p-2 flex flex-col md:flex-row gap-2  ">
    <div class=" w-full ">
      <div class=" w-full  text-center">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
