<div
  class="
    md:flex-row md:gap-1
    flex-col flex p-2
  "
>
  <div
    class="
      md:sticky md:top-0
      pt-40 title h-fit
      subheader-title
    "
  >
    <p class="pt-[5px] md:border-t-[1px] md:border-stroke-1">{{ article.title }}</p>
    <p class="opacity-50">{{ article.published_at | date: '%d %B %Y' }}</p>
  </div>

  <div class="blog-content  w-full md:w-[350px] md:border-t-[1px] md:border-stroke-1  mt-40  :border-t-[1px] :border-stroke-1 pt-[5px]  ">
    {{ article.content }}
  </div>
</div>
