{% render 'safe-space' %}

<div class="p-4 md:flex  gap-2 ">
  <div class=" w-full ">
    {%- for link in linklists['about-menu'].links -%}
      <h3 class=" select-none ">
        <a
          class=" hover:opacity-50 {%- if request.path == link.url -%}f opacity-50 hover:opacity-50 {%- endif -%}"
          href="{{ link.url }}"
        >
          {{- link.title -}}
        </a>
      </h3>
    {%- endfor -%}
  </div>

  <div class="  w-full ">
    <div class="flex  ">
      <h2 class="pb-1">{{ page.title }}</h2>
    </div>
    <div class=" w-2/3 ">
      {{ page.content }}
    </div>
  </div>
</div>
