<div
  class=" js-section  h-[80vh]    "
></div>

{% schema %}
{
  "name": "Sticky Logo",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Logo"
    }
  ],

  "presets": [
    {
      "name": "Sticky Logo",
      "category": "Content"
    }
  ]
}
{% endschema %}
