<div
  class=" js-section  h-[50vh] sticky top-0   "
>
  <div class=" w-full overflow-hidden  h-[100vh]  md:p-[0px] p-0 flex items-center justify-center ">
    {{ section.settings.image1 | image_url: width: 1204 | image_tag: class: 'w-80 ' }}
  </div>
</div>

{% schema %}
{
  "name": "Sticky Logo",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Logo"
    }
  ],

  "presets": [
    {
      "name": "Sticky Logo",
      "category": "Content"
    }
  ]
}
{% endschema %}
