<div class="flex md:flex-row flex-col">
  <div class=" relative  flex md:w-1/2 w-full md:pt-0 md:mt-0 mt-header-1 md:h-screen h-[70vh] ">
    {% render 'swiper' with { product: product } %}
  </div>

  <div class="  w-full md:w-1/2  md:flex justify-start items-start md:p-2 md:pt-[16px] p-2  h-fit md:h-screen  ">
    <div class="  ALL INFO  w-full md:w-[250px]  ">
      <div class="js-back text-link mb-2 hover:opacity-30 cursor-pointer">
        <p class="pointer-events-none">Back</p>
      </div>

      <div class=" ">
        <h2 class="display-serif ">{{ product.title }}</h2>
      </div>

      <div class="">
        <div class="pb-1 pt-1 ">
          {{ product.description }}
        </div>

        <ajax-cart-product-form>
          {% render 'add-to-cart-form' with current_variant: current_variant %}
        </ajax-cart-product-form>
        <div class="flex flex-col gap-1  ">
          <div class="js-product-description flex-col flex gap-0">
            {% if product.metafields.custom.materials %}
              {% render 'accordian' with { title: 'Materials', content: product.metafields.custom.materials } %}
            {% endif %}
            {% if product.metafields.custom.sizing %}
              {% render 'accordian' with { title: 'Sizing', content: product.metafields.custom.sizing } %}
            {% endif %}
          </div>

          {% if product.metafields.custom.pre_order -%}
            {% render 'preorder' with { content: product.metafields.custom.pre_order } %}
          {% endif %}

          {% render 'atc-stick' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% section 'product-recommendations' %}

<script></script>
