<div class="flex">
  <div class=" relative  flex w-1/2  h-screen  ">
    {% render 'swiper' with { product: product } %}
  </div>

  <div class="  w-1/2  md:flex justify-start items-start md:p-2 p-2  h-screen ">
    <div class="  ALL INFO w-[250px] ">
      <div class="js-back mb-2 hover:opacity-30 cursor-pointer">
        <p class="pointer-events-none">Back</p>
      </div>

      <div class=" ">
        <h1 class="display-serif ">{{ product.title }}</h1>
      </div>

      <div class="">
        <div class="pb-[10px] pt-1 ">
          {{ product.description }}
        </div>

        <ajax-cart-product-form>
          {% render 'add-to-cart-form' with current_variant: current_variant %}
        </ajax-cart-product-form>
        <div class="flex flex-col gap-1  ">
          <div class="js-product-description flex-col flex gap-0">
            {% if product.metafields.custom.shipping != '' %}
              {% render 'accordian' with { title: 'Shipping', content: product.metafields.custom.shipping } %}
            {% endif %}
            {% if product.metafields.custom.size != '' %}
              {% render 'accordian' with { title: 'Dimnetions', content: product.metafields.custom.size } %}
            {% endif %}
          </div>
          {% render 'atc-stick' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% section 'product-recommendations' %}

<script></script>
